/* Cart */

.cart h1 {
    color: #555555;
    border-bottom: 1px solid #ddd;
    content: "";
    text-transform: uppercase;
    margin-bottom: 20px;
}

.cart i {
    color: #337ab7;
}

.cart i:hover {
    color: #1f4b72;
}

.cart a:hover {
    color: #1f4b72;
}

.cart a {
    color: #337ab7;
    text-decoration: none;
}