/* Responsive Mobile */

@media only screen and (max-width: 576px) {

    /* Navbar */
    .info {
        justify-content: space-around;
    }

    .title {
        display: none;
    }

    .icon-hamburger {
        display: block;
    }

    /* Suggestion */

    .image-boots {
        width: 380px;
        height: 380px;
        text-align: center;
    }

    .caption-sub {
        width: 380px;
    }
}