@media only screen and (max-width: 820px) {

    /* Search Bar */

    .search-bar {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    /* Navbar */

    .nav-bar {
        display: none;
    }

    /* Product */

    .info-product {
        display: block;
    }

    .info-product img {
        width: 100% !important;
        height: 100% !important;
    }

    .icon-sale {
        width: 65px;
        height: 30px;
        font-size: 20px;
        text-align: center;
    }

}