a {
    text-decoration: none;
    list-style: none;
    color: black !important;
}

li {
    list-style: none;
    text-decoration: none;
}

ul li a:hover {
    background-color: blue;
    padding: 10px;
    border-radius: 15px;
    color: white !important;

}